
.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-top: 170px;
  padding: 0 20px; 
}


.pdf-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; 
  text-align: center; 
}


.loading-message {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  text-align: center; 
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap; 
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px; 
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .pdf-title {
    font-size: 20px; 
  }

  .loading-message,
  .pagination span {
    font-size: 16px; 
  }

  .pagination button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .pdf-title {
    font-size: 18px; 
  }

  .loading-message,
  .pagination span {
    font-size: 14px;
  }

  .pagination button {
    padding: 6px 12px; 
    font-size: 12px; 
  }
}
