.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #5b92e5;
  width:100%;
  top:0;
  font-weight: 600;
  padding: 10px 20px;
  border-bottom: 6px #f39c12 solid;
  position: fixed;
  z-index: 1000;
}

.logo-container {
  margin-bottom: 10px;
}
.toolbar-area {
  width: 100%;
  background-color: #f39c12;   vm
  color: white;
}

.toolbar-area .menu-lists li {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.logo-container {
  display: flex;
 justify-content: space-between; 
  max-width: 1200px; 
  width: 100%;
}

.company-name {
  color: #f39c12;
}
.logo-img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: opacity 0.3s ease;
  /* Smooth transition for hiding/showing */
}

.nav-links.hidden {
  display: none;
  /* Hide the navigation links on mobile */
}

.nav-link {
  color: #5b92e5;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #f39c12;
  transform: scale(1.1);
  border-bottom: 2px solid #f39c12;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.dropdown-link {
  display: flex;
  align-items: center;
  color: #5b92e5;
  transition: color 0.2s ease;
}

.dropdown-link i {
  margin-left: 5px;
}

.dropdown-link:hover {
  color: #f39c12;
}

/* Styles for the dropdown content */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 10px 0;
  z-index: 10;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-content li {
  padding: 10px 20px;
  position: relative;
}

.dropdown-content li:not(:last-child) {
  border-bottom: 2px solid transparent;
}

.dropdown-content li:hover {
  background-color: #f3f3f3;
  border-bottom: 2px solid #f39c12;
}

.dropdown-content li a {
  color: #5b92e5;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease;
}

.dropdown-content li a:hover {
  color: #f39c12;
}


.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: scaleY(1);
}

.active {
  color: #f39c12;
}

/* Hamburger Icon Styles */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #5b92e5;
}

.hamburger i {
  transition: transform 0.3s ease;
}

.hamburger:hover i {
  color: #f39c12;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .top-bar {
    flex-direction: row; 
    justify-content: space-between;
  }

  .logo-container {
    margin-bottom: 0;
    margin-right: auto; 
  }

  .nav-links {
    display: none; 
  }

  .hamburger {
    display: block; 
  }

  .logo-img {
    width: 100px;
    height: auto;
  }

}
