.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #fff;
  color: #5b92e5;
  font-weight: 600;
  padding: 10px;
  border-bottom: 6px #f39c12 solid;
  position: relative;
}

.logo-container {
  margin-bottom: 10px; 
}

.logo-img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: opacity 0.3s ease; /* Smooth transition for hiding/showing */
}

.nav-links.hidden {
  display: none; /* Hide the navigation links on mobile */
}

.nav-link {
  color: #5b92e5;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #f39c12;
  transform: scale(1.1);
  border-bottom: 2px solid #f39c12;
}

.account-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.account-link {
  display: flex;
  align-items: center;
  color: #5b92e5;
  transition: color 0.2s ease;
}

.account-link i {
  margin-left: 5px;
}

.account-link:hover {
  color: #f39c12;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 8px 0;
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.dropdown-content a {
  color: #5b92e5;
  text-decoration: none;
  padding: 20px;
}

.dropdown-content a:hover {
  color: #f39c12;
}

.account-dropdown:hover .dropdown-content {
  opacity: 1;
  transform: scaleY(1);
}

.active {
  color: #f39c12;
}

/* Hamburger Icon Styles */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #5b92e5;
}

.hamburger i {
  transition: transform 0.3s ease;
}

.hamburger:hover i {
  color: #f39c12;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide the default nav links on small screens */
  }

  .hamburger {
    display: block; /* Show the hamburger icon on small screens */
  }
}
